!!! XML
!!! Strict

%html
  %head
    %title mysvnstat
    %meta{:'http-equiv' => 'Content-Type', :content=>'text/html'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href =>'/css/mysvnstat.css'}
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/js/highcharts.js'}
    %script{:type => 'text/javascript', :src => '/js/themes/gray.js'}
    :javascript
      jQuery(document).ready(function(){
        var options = {
          chart: {
            renderTo: 'daily',
            type: 'line'
          },
          title: {
            text: 'daily commit graph'
          },
          xAxis: {
          type: 'datetime',
          dateTimeLabelFormats: {
            month: '%m',
            year: '%y'
            },
            day: []
          },
          yAxis: {
            title: {
              text: 'commit objects'
            }
          },
          legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            borderWidth: 0
          },
          tooltip: {
            formatter: function(){
              this.x + ':' + this.y;
            }
          },
          series: []
        };
        jQuery.get('dailylog.xml', function(xml){
          var dom = jQuery(xml);

          // xAxis (TODO generate from calendar)
          options.xAxis.day = ['2012-11-17','2012-11-18','2012-11-19','2012-11-20'];

          // series
          dom.find('logentry').each(function(i,v){
            var entry = jQuery(v);
            var seriesOptions = {
              name: entry.find('author').text(),
              data: [
                [Date.UTC(2012,10,17), 5],
                [Date.UTC(2012,10,18), 2],
                [Date.UTC(2012,10,19), 10],
                [Date.UTC(2012,10,20), 1]
              ]
            };
            // TODO summarize commit object per day
            
            options.series.push(seriesOptions);
          });
          var chart = new Highcharts.Chart(options);
        });
      });
%body
  %header
    %h1= @title
    %p subversion の log をグラフにしたい
  %section
    %h2 解析するファイルを指定する
    %p svn log --verbose --xml の結果ファイルを入れる
    %form(method='post' enctype='multipart/form-data' action='/upload')
      %input(type='file' name='logfile')
      %input(type='submit' value='upload')
  %section
    %h2 だいたいの情報
    %dl
      %dt 最新リビジョン番号
      %dd 1000
      %dt コミットユーザ数
      %dd 10
      %dt ファイル数
      %dd 120
  %section
    %h2 日別のコミットの様子
    %p 横軸が日、縦軸がコミットされた行数の折線グラフ
    %p http://www.flotcharts.org/ がよさげ
    %p まずはユーザをまとめてしまいましょう
    %div#daily{:style => 'width:100%;height:400px'}
  %section
    %h2 週別のコミットの様子
    %p 横軸が週、縦軸がコミットされた行数の折線グラフ
